@media screen and (max-width: 1600px) {
	.tutorial-img {
		display: none;
	}
	.try-input {
		width: calc(100% + 20*5px);
	}
	.try-btn {
		right: -50px;
	}
}
@media screen and (max-width: 1490px) {
	.first-info-container {
		margin-left: 1em;
	}
	.contact-form-btn {
		position: relative;
		width: 40%;
		margin: 0 auto;
		right: 0;
	}
}
@media screen and (max-width: 1190px) {
	html {
		font-size: 13px;
	}
	.screenPhone {
		display: none;
	}
	.training {
		margin-top: 1em;
		justify-content: space-around;
	}
	.second-info {
		width: 90%;
	}
	.second-info-container {
		width: 90%;
	}
	.menu {
		display: none;
	}
	.m-menu-btn {
		display: block;
	}
	header {
		width: 90%;
	}
	.first-info {
		width: 90%;
	}
	.footer-container {
		width: 90%;
	}
}
@media screen and (max-width: 899px) {
	.card {
		display: none;
	}
	.first-info {
		display: block;
		padding: 0;
		margin: -30% auto 0 auto;
	}
	.first-info-container {
		display: block;
		width: 100%;
	}
	.second-info-title {
		text-align: center;
		width: 90%;
	}
	.second-info-content {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.tutorial {
		width: 90%;
		margin: 0 auto;
	}
	.logo img {
		max-width: 100%;
	}
	header {
		width: 90%;
	}
	.details-title {
		width: 100%;
		margin: 0 auto;
	}
	.contact-form-inp {
		width: 100%;
	}
	.contact-form-input {
		width: 50%;
	}
	.footer-container {
		flex-direction: column;
		width: 90%;
	}
	.social-icons {
		width: 100%;
		margin: 0;
	}
	.contact-form-btn {
		display: block;
	}
	.m-menu {
		width: 70%;
	}
}
@media screen and (max-width: 768px) {
  .try-btn {
  	position: relative;
  	margin-top: 10px;
  	width: 100%;
  	padding: 1em 0;
  }
  .second-info-content {
  	margin: 3em;
  }
	.contact-form-input {
		width: 80%;
	}  
}
@media screen and (max-width: 480px) {
	html {
		font-size: 12px;
		line-height: 1.5;
	}
	header {
    width: 95%;
	}
	.m-menu {
		width: 70%;
	}
}