<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="description">
  <meta name="title" content="title">
  <title>Bouncy</title>
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="icon" href="img/favicon.png">
</head>
<body>
  <div class="page-wrapper">
    <header class="page-header">
      <div class="header-top">
        <div class="logo logo_light">
          <a href="index.html" class="logo__link">Bouncy</a>
        </div>
        <nav class="header__nav">
          <ul class="nav-items">
            <li class="nav-items__item">
              <a href="#" class="nav-items__btn hello-btn">Hello</a>
            </li>
            <li class="nav-items__item">
              <a href=".about-us" class="nav-items__link">About</a>
            </li>
            <li class="nav-items__item">
              <a href=".services" class="nav-items__link">Services</a>
            </li>
            <li class="nav-items__item">
              <a href=".portfolio" class="nav-items__link">Portfolio</a>
            </li>
            <li class="nav-items__item">
              <a href=".team" class="nav-items__link">Team</a>
            </li>
            <li class="nav-items__item">
              <a href=".blog" class="nav-items__link">Blog</a>
            </li>
            <li class="nav-items__item">
              <a href=".contact-us" class="nav-items__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-content">
        <h2 class="header-content__title section_title">We are code cafe</h2>
        <p class="header-content__content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
      </div>
      <div class="header-anchor-wrapper">
        <a href=".about-us" class="header-anchor">
          <img class="header-anchor__arrow" data-src="img/icons/anchor-arrow.svg" alt="">
        </a>
      </div>
    </header>
    <section class="about-us">
      <div class="about-us-content-wrapper">
        <div class="about-us-content">
          <h3 class="about-us-content__title section_title">This is bouncy</h3>
          <p class="about-us-content__content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
          <div class="about-us-content__read-wrapper">
            <a href="#" class="about-us-content__read-more">Read More</a>
          </div>
        </div>
        <div class="about-us-decoration">
          <img data-src="img/decorations/about-ipad.png" class="about-us-decoration__picture" alt="">
        </div>
      </div>
    </section>
    <section class="about-details">
      <div class="about-details-top">
        <div class="about-details-titles titles_center">
          <h3 class="about-details__title section_title">Details about bouncy</h3>
          <p class="about-details__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        </div>
        <div class="icons-container">
          <div class="icons-container__icon heart_icon"></div>
          <div class="icons-container__icon mouse_icon"></div>
          <div class="icons-container__icon light_icon"></div>
        </div>
      </div>
      <div class="about-details-texts">
        <h3 class="about-details-texts__title">Creative Ideas</h3>
        <div class="about-details-texts-wrapper">
          <p class="about-details-texts__main-text">At <strong class="selected_text_green">vero</strong> eos et accusamus et iusto odio dignissimos <strong class="selected_text_dark">ducimus</strong> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
          <p class="about-details-texts__additional-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <strong class="selected_text_dark">corrupti quos</strong> dolores et quas molestias excepturi sint occaecati cupiditate non provident, <strong class="selected_text_dark">similique</strong> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r</p>
        </div>
      </div>
    </section>
    <section class="featured">
      <div class="featured-titles titles_center">
        <h3 class="featured__title section_title">Featured projects</h3>
        <div class="featured__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
      </div>
      <div class="featured-projects">
        <div class="featured-projects__project main-preview">
          <div class="featured-project__preview project_title">Vintage</div>
          <img data-src="img/featured-projects-preview/featured-project-large.png" class="featured-project__preview-image" alt="">
        </div>
        <div class="featured-projects__project small-preview">
          <div class="featured-project__preview project_title">Vintage</div>
          <img data-src="img/featured-projects-preview/featured-project-small-1.png" class="featured-project__preview-image" alt="">
        </div>
        <div class="featured-projects__project small-preview">
          <div class="featured-project__preview project_title">Branding</div>
          <img data-src="img/featured-projects-preview/featured-project-small-2.png" class="featured-project__preview-image" alt="">
        </div>
      </div>
      <div class="featured-submit">
        <div class="featured-submit__content">
          <p class="featured-submit__text">At vero eos et <strong class="selected_text_light">accusamus</strong> et iusto odio dignissimos ducimus qui blanditiis</p>
          <div class="featured-submit__submit-btn-wrapper">
            <a href="#" class="featured-submit__submit-btn-link">Submit Now</a>
          </div>
        </div>
      </div>
    </section>
    <section class="services">
      <div class="services-titles titles_center">
        <h3 class="services__title section_title">Our services</h3>
        <p class="services__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      </div>
      <div class="services-content">
        <div class="services-content__tabs">
          <div class="services-content__tab-switches">
            <div class="services-content__tab-switch tools_tab_switch"></div>
            <div class="services-content__tab-switch design_tab_switch"></div>
            <div class="services-content__tab-switch gamepad_tab_switch"></div>
            <div class="services-content__tab-switch wire_tab_switch"></div>
          </div>
          <div class="services-content__tabs-content">
            <div class="services-content__tab desigh_tab">
              <div class="tab-titles">
                <h3 class="tab-titles__title">Graphic Design</h3>
                <p class="tab-titles__subtitle">At vero eos et accusamus et <strong class="selected_text_green">iusto</strong> odio dignissimos <strong class="selected_text_dark">ducimus</strong> qui blanditiis praesentium voluptatum deleniti</p>
              </div>
              <p class="tab-content">quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <strong class="selected_text_green">similique sunt</strong> in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
          </div>
        </div>
        <div class="services-content__skills">
          <div class="services-content__skill-wrapper">
            <svg class="services-content__skill branding-skill">
              <circle r="48%" cx="50%" cy="50%" class="main-circle"></circle>
              <circle r="48%" cx="50%" cy="50%" stroke-dasharray="320px" class="skill-circle"></circle>
              <text y="55%" x="30%" class="skill-value">80</text>
              <text y="55%" x="55%" class="percent-symbol">%</text>
            </svg>
            <p class="services-content__skill-name">Branding</p>
          </div>
          <div class="services-content__skill-wrapper">
            <svg class="services-content__skill design-skill">
              <circle r="48%" cx="50%" cy="50%" class="main-circle"></circle>
              <circle r="48%" cx="50%" cy="50%" stroke-dasharray="300px" class="skill-circle"></circle>
              <text y="55%" x="30%" class="skill-value">75</text>
              <text y="55%" x="55%" class="percent-symbol">%</text>
            </svg>
            <p class="services-content__skill-name">Web Design</p>
          </div>
          <div class="services-content__skill-wrapper">
            <svg class="services-content__skill uiux-skill">
              <circle r="48%" cx="50%" cy="50%" class="main-circle"></circle>
              <circle r="48%" cx="50%" cy="50%" stroke-dasharray="240px" class="skill-circle"></circle>
              <text y="55%" x="30%" class="skill-value">60</text>
              <text y="55%" x="55%" class="percent-symbol">%</text>
            </svg>
            <p class="services-content__skill-name">UI/UX</p>
          </div>
        </div>
      </div>
    </section>
    <section class="team-quotes">
      <div class="team-quotes-inner">
        <div class="team-quotes-content">
          <h3 class="team-quotes__title section_title">Impressed ?</h3>
          <p class="team-quotes__quote">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
          <div class="team-quotes__author">
            <p class="quote__author-name">- Abdullah homan</p>
            <p class="quote__author-rank">Creatice director, <strong class="green_text">code cafe</strong></p>
          </div>
        </div>
        <div class="team-quotes-decoration">
          <img data-src="img/decorations/quotes-mac.png" class="team-quotes__decoration-image" alt="">
          <img data-src="img/decorations/decoration-text.png" class="team-quotes__decoration-logo" alt="">
        </div>
      </div>
    </section>
    <section class="portfolio">
      <div class="portfolio-titles titles_center">
        <h3 class="portfolio__title section_title">The portfolio</h3>
        <p class="portfolio__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      </div>
      <ul class="portfolio-menu">
        <li class="portfolio-menu__item">
          <a class="portfolio-menu__filter-link filter-link_active">All Works</a>
        </li>
        <li class="portfolio-menu__item">
          <a class="portfolio-menu__filter-link">Print</a>
        </li>
        <li class="portfolio-menu__item">
          <a class="portfolio-menu__filter-link">Identify</a>
        </li>
        <li class="portfolio-menu__item">
          <a class="portfolio-menu__filter-link">Branding</a>
        </li>
        <li class="portfolio-menu__item">
          <a class="portfolio-menu__filter-link">Web</a>
        </li>
        <li class="portfolio-menu__item">
          <a class="portfolio-menu__filter-link">HTML</a>
        </li>
        <li class="portfolio-menu__item">
          <a class="portfolio-menu__filter-link">Wordpress</a>
        </li>
      </ul>
      <div class="portfolio-content-wrapper">
        <div class="portfolio-works">
          <div class="portfolio-works__column column-one">
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project1.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project5.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project9.png" class="portfolio-project__cover-image" alt="">
            </div>
          </div>
          <div class="portfolio-works__column column-two">
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project2.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project6.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project10.png" class="portfolio-project__cover-image" alt="">
            </div>
          </div>
          <div class="portfolio-works__column column-three">
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project3.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project7.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project11.png" class="portfolio-project__cover-image" alt="">
            </div>
          </div>
          <div class="portfolio-works__column column-four">
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project4.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project8.png" class="portfolio-project__cover-image" alt="">
            </div>
            <div class="portfolio-works__project portfolio-project">
              <img data-src="img/portfolio-projects-preview/portfolio-project12.png" class="portfolio-project__cover-image" alt="">
            </div>
          </div>
        </div>
        <div class="portfolio-start">
          <p class="portfolio-start__text">At vero eos et <strong class="selected_text_light">accusamus</strong> et iusto odio <strong class="selected_text_light">dignissimos</strong> ducimus qui blanditiis</p>
          <div class="portfolio-start__start-project">
            <a href="#" class="portfolio-start__start-project-btn-link">Start Project</a>
          </div>
        </div>
      </div>
    </section>
    <section class="team">
      <div class="team-titles titles_center">
        <h3 class="team__title section_title">The Team</h3>
        <p class="team__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      </div>
      <div class="team-slider">
        <div class="team-slider__viewport slider_viewport">
          <ul class="team-slider__slides slides_list">
            <!-- LoDash template of the slide -->
            <script type="text/template" class="slide-template">
            <% slides.forEach( function(slide) { %>
              <li class="team-slider__slide team-member slider_slide">
                <div class="team-slider__slide-content">
                  <img data-src="<%= slide.photoSrc %>" class="team-member__photo" alt="">
                  <div class="team-member__info member-info">
                    <div class="member-info__name-wrapper">
                      <p class="member-info__name"><%= slide.memberName %></p>
                      <em class="member-info__rank"><%= slide.memberRank %></em>
                    </div>
                    <p class="member-info__description"><%= slide.memberDescription %></p>
                    <div class="member-info__charts member-charts">
                      <div class="member-charts__chart member-chart">
                        <div class="member-chart__info">
                          <span class="member-chart__name">Branding</span>
                          <span class="member-chart__value branding_value"><%- slide.brandingValue %>%</span>
                        </div>
                        <div class="member-chart__progress-container">
                          <div class="member-chart__progress branding_progress" style="width: <%= slide.brandingValue %>%;"></div>
                        </div>
                      </div>
                      <div class="member-charts__chart member-chart">
                        <div class="member-chart__info">
                          <span class="member-chart__name">Web design</span>
                          <span class="member-chart__value design_value"><%- slide.designValue %>%</span>
                        </div>
                        <div class="member-chart__progress-container">
                          <div class="member-chart__progress design_progress" style="width: <%= slide.designValue %>%;"></div>
                        </div>
                      </div>
                      <div class="member-charts__chart member-chart">
                        <div class="member-chart__info">
                          <span class="member-chart__name">User Interface</span>
                          <span class="member-chart__value ui_value"><%- slide.uiValue %>%</span>
                        </div>
                        <div class="member-chart__progress-container">
                          <div class="member-chart__progress ui_progress" style="width: <%= slide.uiValue %>%;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% }); %>
            </script>
            <!-- -->
          </ul>
        </div>
        <ul class="team-slider__controls slider_controls">

        </ul>
      </div>
    </section>
    <section class="talk">
      <div class="talk-titles titles_center">
        <h3 class="talk__title section_title">Already Loved Us? Let’s talk!</h3>
      </div>
      <div class="talk__contact-wrapper">
        <a href="#" class="talk__contact-btn-link">Contact Us</a>
      </div>
    </section>
    <section class="testimonials">
      <div class="testimonials-titles titles_center">
        <h3 class="testimonials__title section_title">Testimonials</h3>
        <p class="testimonials__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      </div>
      <div class="testimonials-slider">
        <div class="testimonials-slider__viewport slider_viewport">
          <ul class="testimonials-slider__slides slides_list">
            <!-- LoDash template of the slide -->
            <script type="text/template" class="slide-template">
              <% slides.forEach( function(slide) { %>
                <li class="testimonials-slider__slide testimonial slider_slide">
                  <img data-src="<%= slide.photoSrc %>" alt="" class="testimonial__photo">
                  <div class="testimonial__content">
                    <p class="testimonial__text"><%- slide.text %></p>
                    <div class="testimonial-author">
                      <p class="testimonial__author-name selected_text_green"><%- slide.authorName %></p>
                      <p class="testimonial__author-rank"><%- slide.authorRank %></p>
                    </div>
                  </div>
                </li>
              <% }); %>
            </script>
            <!-- -->
          </ul>
        </div>
        <ul class="testimonials-slider__controls slider_controls">

        </ul>
      </div>
    </section>
    <section class="blog">
      <div class="blog-content">
        <div class="blog-titles">
          <h3 class="blog__title section_title">Latest News</h3>
          <p class="blog__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        </div>
        <div class="blog-slider">
          <div class="blog-slider__viewport slider_viewport">
            <ul class="blog-slider__slides slides_list">
              <!-- LoDash template of the slide -->
              <script type="text/template" class="slide-template">
                <% slides.forEach( function(slide) { %>
                  <li class="blog-slider__slide blog-post slider_slide">
                    <div class="blog-post__info">
                      <p class="blog-post__name"><%- slide.postName %></p>
                      <a href="#" class="blog-post__author"><em><%- slide.authorName %></em></a>
                      <p class="blog-post__stats">
                        <span class="blog-post__likes"><%- slide.postLikes %> Likes - </span>
                        <span class="blog-post__comments"><%- slide.postComments %> Comments - </span>
                        <span class="blog-post__shares"><%- slide.postShares %> shares</span>
                      </p>
                    </div>
                    <p class="blog-post__text"><%- slide.postText %>...</p>
                    <p class="blog-post__read-more">
                      <a href="#" class="blog-post__read-more-link-btn">+ Read More</a>
                    </p>
                  </li>
                <% }); %>
              </script>
              <!-- -->
            </ul>
          </div>
          <ul class="blog-slider__controls slider_controls">

          </ul>
        </div>
      </div>
    </section>
    <section class="price">
      <div class="price-titles titles_center">
        <h3 class="price__title section_title">Our Price</h3>
        <p class="price__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      </div>
      <ul class="price-rates">
        <!-- LoDash template of the price-rate card -->
        <script type="text/template" class="rate-template">
          <% rates.forEach( function(rate) { %>
            <li class="price-rates__card rate-card">
              <div class="rate-card__front">
                <p class="rate-card__name"><%- rate.name %></p>
                <p class="rate-card__price">$ <%- rate.price %></p>
                <p class="rate-card__per">Per Month</p>
              </div>
              <div class="rate-card__back">
                <div class="rate-card__description">
                  <% rate.paragraphs.forEach( function(p) { %>
                    <p class="rate-card__text"><%- p %></p>
                  <% }); %>
                </div>
                <button class="rate-card__start-btn">Let's Start</button>
              </div>
            </li>
          <% }); %>
        </script>
        <!-- -->
      </ul>
    </section>
    <section class="subscribe">
      <div class="subscribe-titles titles_center">
        <h3 class="subscribe-titles__title section_title">Subscribe Us</h3>
        <p class="subscribe-titles__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      </div>
      <form action="" class="subscribe-form">
        <input type="text" name="email-address" class="subscribe-form__email-input" autocomplete="off" placeholder="Email Address">
        <input type="submit" value="Submit" class="subscribe-form__submit-btn">
      </form>
    </section>
    <section class="contact-us">
      <div class="contact-us-titles titles_center">
        <h3 class="contact-us__title section_title">Contact Us</h3>
        <p class="contact-us__subtitle section_subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      </div>
      <ul class="contact-us__contacts">
        <li class="contact-us__contact contact email_contact">
          <div class="contact__decorations-wrapper">
            <img data-src="img/backgrounds/contacts-email-bg.png" alt="" class="contact__bg-image">
            <img data-src="img/icons/mail-icon.png" alt="" class="contact__icon">
          </div>
          <div class="contact__info">
            <p class="contact__name">Email</p>
            <p class="contact__text email_text">hello@codecafe.com</p>
            <p class="contact__text email_text">Personal@codecafe.com</p>
          </div>
        </li>
        <li class="contact-us__contact contact address_contact">
          <div class="contact__decorations-wrapper">
            <img data-src="img/backgrounds/contacts-address-bg.png" alt="" class="contact__bg-image">
            <img data-src="img/icons/geo-icon.png" alt="" class="contact__icon">
          </div>
          <div class="contact__info">
            <p class="contact__name">Our office</p>
            <p class="contact__text address_text">240 Bhatikhana, 8200 Barisal</p>
            <p class="contact__text address_text">Bangladesh</p>
          </div>
        </li>
        <li class="contact-us__contact contact phone_contact">
          <div class="contact__decorations-wrapper">
            <img data-src="img/backgrounds/contacts-phone-bg.png" alt="" class="contact__bg-image">
            <img data-src="img/icons/phone-icon.png" alt="" class="contact__icon">
          </div>
          <div class="contact__info">
            <p class="contact__name">Phone</p>
            <p class="contact__text phone_text">+00 11 66 99 66 44</p>
            <p class="contact__text phone_text">11 99 66 44 065</p>
          </div>
        </li>
      </ul>
      <div class="contact-us__contact-form-wrapper">
        <form action="" class="contact-form">
          <div class="contact-form__data-inputs">
            <input type="text" name="name" class="contact-form__input" autocomplete="off" placeholder="Your name">
            <input type="text" name="email-address" class="contact-form__input" autocomplete="off" placeholder="Email address">
            <input type="text" name="subject" class="contact-form__input" autocomplete="off" placeholder="Subject">
          </div>
          <textarea name="message" class="contact-form__message-area"></textarea>
          <input type="submit" class="contact-form__submit-btn" value="Submit now">
        </form>
      </div>
    </section>
    <section class="map-section">
      <div class="map-section__open">
        <h4 class="map-section__title">Find Us on the map</h4>
        <img class="map-section__arrow" data-src="img/icons/anchor-arrow.svg" alt="">
      </div>
      <div class="map-section__map-container">

      </div>
    </section>
    <footer class="page-footer">
      <div class="logo logo_dark">Bouncy</div>
      <p class="page-footer__rights">Copyright 2015. All rights Reserved</p>
      <div class="page-footer__social-icons social-icons">
        <a href="" class="social-icons__icon facebook-icon"></a>
        <a href="" class="social-icons__icon twitter-icon"></a>
        <a href="" class="social-icons__icon linkedin-icon"></a>
        <a href="" class="social-icons__icon instagram-icon"></a>
        <a href="" class="social-icons__icon vimeo-icon"></a>
      </div>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js" defer></script>
  <script src="js/scripts.min.js" defer></script>
</body>
</html>
