	/* basic styles */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	font: 16px sans-serif;
	height: 100%;
	width: 100%;
}
body {
	background: #f0f0f0;
}

	/* main styles */

	/* canvas centralization */
.game {
	width: 100%;
	height: 100vh;
	overflow: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
}

	/* canvas styles */
#canvas {
	background: #fff;
	border: 5px solid #000;
	box-shadow: 0 0 7px #000;
}

.game__canvas {
	-webkit-transition: transform 1s cubic-bezier(0, 0, .5, 1);
	-o-transition: transform 1s cubic-bezier(0, .1, .5, 1);
	transition: transform 1s cubic-bezier(0, .1, .5, 1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: absolute;
}

.canvas__scaled {
	transform: scale(0);
}

.game__tutorial {
	font-size: 28px;
	text-align: center;
	width: 40%;
	margin: 0 auto;
}
.tutorial__task {
	width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.tutorial__start {
	margin-top: 25px;
}
.start__btn {
	font-size: 20px;
	background-color: #FF7F50;
	border: 3px solid #D65627;
	outline: none;
	padding: 5px 15px;
	cursor: pointer;
}
.tutorial__info {
	display: inline-block;
	border-bottom: 2px solid #000;
	padding-bottom: 15px;
}
.options__waves-number {
	margin-top: 15px;
}

@media screen and (max-width: 901px) {
	.game__tutorial {
		width: 95%;
	}
}