@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url("../fonts/Source Sans Pro/sourcesansproextralight.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansproextralight.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansproextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro ExtraLight Italic"), local("SourceSansPro-ExtraLightIt"), url("../fonts/Source Sans Pro/sourcesansproextralightitalic.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansproextralightitalic.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansproextralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("../fonts/Source Sans Pro/sourcesansprolight.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansprolight.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansprolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url("../fonts/Source Sans Pro/sourcesansprolightitalic.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansprolightitalic.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansprolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/Source Sans Pro/sourcesanspro.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesanspro.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesanspro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url("../fonts/Source Sans Pro/sourcesansproitalic.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansproitalic.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansproitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("../fonts/Source Sans Pro/sourcesansprosemibold.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansprosemibold.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansprosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url("../fonts/Source Sans Pro/sourcesansprosemibolditalic.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansprosemibolditalic.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansprosemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/Source Sans Pro/sourcesansprobold.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansprobold.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansprobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"), url("../fonts/Source Sans Pro/sourcesansprobolditalic.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansprobolditalic.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansprobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url("../fonts/Source Sans Pro/sourcesansproblack.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansproblack.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansproblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: local("Source Sans Pro Black Italic"), local("SourceSansPro-BlackIt"), url("../fonts/Source Sans Pro/sourcesansproblackitalic.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesansproblackitalic.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesansproblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/Open Sans/opensanslight.woff2") format("woff2"), url("../fonts/Open Sans/opensanslight.woff") format("woff"), url("../fonts/Open Sans/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("../fonts/Open Sans/opensanslightitalic.woff2") format("woff2"), url("../fonts/Open Sans/opensanslightitalic.woff") format("woff"), url("../fonts/Open Sans/opensanslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/Open Sans/opensans.woff2") format("woff2"), url("../fonts/Open Sans/opensans.woff") format("woff"), url("../fonts/Open Sans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/Open Sans/opensansitalic.woff2") format("woff2"), url("../fonts/Open Sans/opensansitalic.woff") format("woff"), url("../fonts/Open Sans/opensansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/Open Sans/opensanssemibold.woff2") format("woff2"), url("../fonts/Open Sans/opensanssemibold.woff") format("woff"), url("../fonts/Open Sans/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("../fonts/Open Sans/opensanssemibolditalic.woff2") format("woff2"), url("../fonts/Open Sans/opensanssemibolditalic.woff") format("woff"), url("../fonts/Open Sans/opensanssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/Open Sans/opensansbold.woff2") format("woff2"), url("../fonts/Open Sans/opensansbold.woff") format("woff"), url("../fonts/Open Sans/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/Open Sans/opensansbolditalic.woff2") format("woff2"), url("../fonts/Open Sans/opensansbolditalic.woff") format("woff"), url("../fonts/Open Sans/opensansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("../fonts/Open Sans/opensansextrabold.woff2") format("woff2"), url("../fonts/Open Sans/opensansextrabold.woff") format("woff"), url("../fonts/Open Sans/opensansextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("../fonts/Open Sans/opensansextrabolditalic.woff2") format("woff2"), url("../fonts/Open Sans/opensansextrabolditalic.woff") format("woff"), url("../fonts/Open Sans/opensansextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  min-width: 21.25rem;
  font: 100% "Open Sans", sans-serif;
  line-height: 175%;
  color: #81868E;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.section_title,
.project_title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #333B46;
}

.section_subtitle {
  max-width: 30%;
  margin-top: 2.5rem;
  font-size: 0.875rem;
}

.titles_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.logo {
  font-size: 1.5625rem;
  font-family: "Arial", sans-serif;
  font-weight: 900;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  text-transform: uppercase;
  cursor: pointer;
}

.logo_light .logo__link {
  color: #fff;
}

.logo_dark {
  color: #323A45;
}

.logo:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.selected_text_dark {
  font-weight: 600;
  color: #6C7179;
}

.selected_text_light {
  font-weight: 600;
  color: #fff;
}

.selected_text_green {
  font-weight: 600;
  color: #19BD9A;
}

.slider_viewport {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider_slide {
  width: 100%;
  height: 100%;
}

.slider_control {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page-header {
  width: 100%;
  height: 100vh;
  background: url("../img/backgrounds/header-bg.png") no-repeat center;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top {
  width: 85%;
  height: auto;
  margin-top: 2.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav {
  width: 50%;
  height: auto;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  font-size: 1rem;
  font-weight: 300;
}

.nav-items__btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1.03125rem;
  padding: 0.3125rem 1.25rem;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.nav-items__btn:hover {
  background-color: #fff;
  color: #7E664E;
}

.nav-items__link {
  color: #fff;
  cursor: pointer;
}

.nav-items__link::after {
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  top: 0.125rem;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-items__link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.header-content {
  text-align: center;
  max-width: 600px;
  color: #fff;
  font-weight: 400;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-125%);
  -ms-transform: translateY(-125%);
  transform: translateY(-125%);
}

.header-content__title {
  font-size: 2.1875rem;
  color: #fff;
}

.header-content__content {
  margin-top: 1.375rem;
}

.header-anchor {
  display: block;
  padding: 1.25rem 0 0 0;
  text-align: center;
  -webkit-animation: moveY 3s infinite linear;
  animation: moveY 3s infinite linear;
  cursor: pointer;
}

.header-anchor-wrapper {
  position: absolute;
  bottom: 4.6875rem;
}

.header-anchor__arrow {
  width: 2.25rem;
  height: 2.25rem;
}

@-webkit-keyframes moveY {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes moveY {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.about-us {
  width: 100%;
  padding: 5rem 0 4.5rem 0;
  background-color: #fff;
}

.about-us-content-wrapper {
  width: 60%;
  max-width: 73.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-us-content {
  width: 55%;
}

.about-us-content__title {
  margin-top: 0.625rem;
}

.about-us-content__content {
  font-size: 0.875rem;
  margin-top: 3.125rem;
}

.about-us-content__read-wrapper {
  margin-top: 2rem;
}

.about-us-content__read-more {
  color: #333B46;
  border: 1px solid #333B46;
  padding: 0.5rem 1.5625rem;
  border-radius: 1.5625rem;
}

.about-us-content__read-more:hover,
.about-us-content__read-more:active {
  background-color: #333B46;
  color: #fff;
}

.about-us-decoration {
  text-align: right;
}

.about-details {
  width: 100%;
  background-color: #F3F3F3;
  padding: 5rem 0 6.25rem 0;
}

.about-details-top {
  margin: 0 auto;
}

.about-details-texts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.about-details-texts {
  width: 70%;
  max-width: 69.375rem;
  margin: 4.0625rem auto 0 auto;
}

.about-details-texts__title {
  color: #464646;
  font-weight: 400;
  font-size: 1.25rem;
  width: 100%;
}

.about-details-texts__main-text {
  max-width: 35%;
}

.about-details-texts__additional-text {
  max-width: 50%;
  font-size: 0.875rem;
}

.icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3.75rem;
}

.icons-container__icon {
  background-color: #81868E;
  background-position: center;
  background-repeat: no-repeat;
  width: 3.3125rem;
  height: 3.3125rem;
  border-radius: 50%;
  margin: 0 0.8125rem;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.icons-container__icon:hover,
.icons-container__icon:active {
  background-color: #19BD9A;
}

.heart_icon {
  background-image: url("../img/icons/heart-icon.png");
}

.mouse_icon {
  background-image: url("../img/icons/mouse-icon.png");
}

.light_icon {
  background-image: url("../img/icons/light-icon.png");
}

.featured {
  padding-top: 5rem;
  background-color: #fff;
}

.featured-projects {
  margin-top: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.featured-projects__project {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.featured-projects__project:hover .featured-project__preview {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.featured-project__preview-image {
  display: block;
  width: 100%;
  height: 100%;
}

.featured-project__preview {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.8, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.8, 1);
  -o-transition: transform 0.5s cubic-bezier(0.5, 0, 0.8, 1);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.8, 1);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.8, 1), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.8, 1);
}

.featured-project__preview::before {
  content: "";
  display: block;
  height: 45%;
}

.featured-submit {
  width: 100%;
  padding: 2.1875rem 0;
  background: url("../img/backgrounds/featured-submit-bg.png") no-repeat;
  background-size: cover;
  font-size: 1.25rem;
  color: #fff;
}

.featured-submit__content {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.featured-submit__text {
  text-align: center;
}

.featured-submit__submit-btn-link {
  font-size: 1rem;
  font-weight: 400;
  background: transparent;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1.125rem;
  padding: 0.375rem 1.5rem;
}

.featured-submit__submit-btn-link:hover,
.featured-submit__submit-btn-link:active {
  background-color: #fff;
  color: #1CA78A;
}

.services {
  padding-top: 5rem;
  padding-bottom: 8.125rem;
  background-color: #fff;
}

.services-content {
  width: 70%;
  max-width: 69.375rem;
  position: relative;
  margin: 3.75rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-content__tabs {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-content__tabs-content {
  margin-left: 2.75rem;
}

.services-content__tab-switch {
  width: 3.3125rem;
  height: 3.3125rem;
  background-color: #81868E;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 1rem;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.services-content__tab-switch:hover,
.services-content__tab-switch:active {
  background-color: #19BD9A;
}

.services-content__skills {
  padding-top: 3.125rem;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.services-content__skill {
  width: 7.75rem;
  height: 7.75rem;
}

.services-content__skill > .main-circle {
  stroke: #047378;
  stroke-width: 2;
  fill: none;
}

.services-content__skill > .skill-circle {
  stroke: #19BD9A;
  stroke-width: 4;
  fill: none;
}

.services-content__skill-name {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 1rem;
}

.tab-titles__title {
  font-size: 1.25rem;
}

.tab-titles__subtitle {
  margin-top: 1.5625rem;
}

.tab-content {
  margin-top: 1.5625rem;
  font-size: 0.875rem;
}

.tools_tab_switch {
  background-image: url("../img/icons/tools-icon.png");
}

.design_tab_switch {
  background-image: url("../img/icons/design-icon.png");
}

.gamepad_tab_switch {
  background-image: url("../img/icons/gamepad-icon.png");
}

.wire_tab_switch {
  background-image: url("../img/icons/wire-icon.png");
}

.skill-value {
  color: #81868E;
  font-size: 1.5rem;
}

.percent-symbol {
  font-size: 1rem;
}

.team-quotes {
  width: 100%;
  background: url("../img/backgrounds/quotes-bg.png") no-repeat;
  background-size: 100% 100%;
  padding: 0 6.25rem;
}

.team-quotes-inner {
  max-width: 73.125rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-quotes__title {
  color: #fff;
}

.team-quotes__quote {
  color: #B2B3B3;
  margin-top: 3.75rem;
}

.team-quotes__author {
  margin-top: 1.875rem;
}

.team-quotes-content {
  padding-top: 3.125rem;
  padding-bottom: 3.75rem;
  width: 50%;
}

.team-quotes-decoration {
  position: relative;
  bottom: 5rem;
}

.team-quotes__decoration-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.quote__author-name {
  text-transform: uppercase;
  font-weight: 400;
  color: #A6A7A7;
}

.quote__author-rank {
  text-transform: uppercase;
  color: #B2B3B3;
  font-weight: bold;
}

.green_text {
  color: #19B896;
  font-weight: 300;
}

.portfolio {
  padding: 5rem 0 6.25rem 0;
  background-color: #f3f3f3;
}

.portfolio-menu {
  width: 40%;
  margin: 5.5rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.portfolio-menu__filter-link {
  font-size: 1rem;
  color: #464646;
  font-weight: 400;
  cursor: pointer;
}

.portfolio-menu__filter-link::after {
  content: "";
  display: block;
  background-color: #35C4A5;
  width: 60%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.portfolio-menu__filter-link:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.portfolio-content-wrapper {
  max-width: 69.375rem;
  margin: 4.8125rem auto 0 auto;
}

.portfolio-works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portfolio-works__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.portfolio-project {
  margin: 0.25rem 0;
  overflow: hidden;
  position: relative;
}

.portfolio-project:hover .project-info {
  opacity: 1;
}

.portfolio-project:hover .project-info__decoration-line {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width: 1.4375rem;
}

.portfolio-project__cover-image {
  display: block;
  height: 100%;
  width: 100%;
}

.portfolio-start {
  width: 100%;
  padding: 2.5rem 0 3.125rem 0;
  margin: 2.5rem auto 0 auto;
  background: url("../img/backgrounds/portfolio-start-bg.png") no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}

.portfolio-start__start-project {
  margin-top: 1.5rem;
}

.portfolio-start__start-project-btn-link {
  background-color: transparent;
  padding: 0.375rem 1.5rem;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 1.25rem;
}

.portfolio-start__start-project-btn-link:hover,
.portfolio-start__start-project-btn-link:focus {
  background-color: #fff;
  color: #1AA587;
}

.portfolio-start__text {
  padding: 0 0.625rem;
}

.project-info {
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.52, 0.29, 0.54, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.52, 0.29, 0.54, 1);
  transition: opacity 0.5s cubic-bezier(0.52, 0.29, 0.54, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 1.625rem 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.project-info__title {
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Source Sans Pro";
  font-size: 1.25rem;
  color: #19BD9A;
}

.project-info__decoration-line {
  margin-top: 1rem;
  width: 9.375rem;
  height: 0.0625rem;
  background-color: #19BD9A;
  -webkit-transition: all 0.7s cubic-bezier(0.26, 0.41, 0.56, 1.45);
  -o-transition: all 0.7s cubic-bezier(0.26, 0.41, 0.56, 1.45);
  transition: all 0.7s cubic-bezier(0.26, 0.41, 0.56, 1.45);
  -webkit-transform: translateX(-12.5rem);
  -ms-transform: translateX(-12.5rem);
  transform: translateX(-12.5rem);
}

.project-info__description {
  color: #B2B3B3;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.project-info__btn {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
}

.project-info__btn:hover {
  background-color: #353535;
}

.project-info__link-btn {
  margin-right: 0.5rem;
  background-image: url("../img/icons/link-icon.png");
}

.project-info__like-btn {
  background-image: url("../img/icons/heart-icon.png");
  background-size: 50% 45%;
}

.choose-link_active::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.team {
  padding: 5rem 0 6.25rem;
  background-color: #fff;
}

.team-slider {
  width: 100%;
  margin-top: 4.0625rem;
}

.team-slider__viewport {
  width: 100%;
}

.team-slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-slider__slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0.625rem;
  max-width: 64.25rem;
}

.team-slider__controls {
  margin: 3.75rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-slider__control {
  margin: 0 0.3125rem;
  background: #fff;
  border: 1px solid #19BD9A;
}

.team-slider__control:hover,
.team-slider__control:focus {
  background-color: #19BD9A;
}

.team-slider__active_control {
  background-color: #19BD9A;
}

.member-info {
  max-width: 35%;
  height: 100%;
  position: relative;
  text-align: right;
  padding: 1.875rem 0;
  margin-right: 3rem;
}

.member-info__name-wrapper {
  position: relative;
}

.member-info__name-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  right: -3rem;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #19BD9A;
}

.member-info__name {
  font-size: 1.25rem;
  color: #464646;
}

.member-info__rank {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #81868E;
}

.member-info__description {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: #81868E;
}

.member-info__charts {
  margin-top: 1.5625rem;
}

.member-charts {
  padding-left: 2.3125rem;
}

.member-chart {
  margin-top: 1.25rem;
}

.member-chart__info {
  min-width: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.member-chart__name,
.member-chart__value {
  font-weight: 300;
  text-transform: uppercase;
  color: #81868E;
}

.member-chart__progress-container {
  width: 100%;
  height: 4px;
  background-color: #E1E4E9;
}

.member-chart__progress {
  height: 100%;
  background-color: #19BD9A;
}

.branding_progress,
.design_progress,
.ui_progress {
  width: 0%;
}

.talk {
  padding: 3.5625rem 0;
  text-align: center;
  background: url("../img/backgrounds/talk-bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.talk__title {
  color: #fff;
  margin-bottom: 2rem;
}

.talk__contact-btn-link {
  color: #fff;
  border: 1px solid #fff;
  font-weight: 400;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
}

.talk__contact-btn-link:hover {
  background-color: #fff;
  color: #070707;
}

.testimonials {
  padding: 5rem 0 6.25rem 0;
  background-color: #F3F3F3;
}

.testimonials-slider {
  max-width: 73.125rem;
  margin: 3.75rem auto 0 auto;
  padding: 3.625rem 0;
  background-color: #fff;
}

.testimonials-slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials-slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3.125rem;
}

.testimonials-slider__control {
  margin: 0 0.3125rem;
  background-color: #fff;
  border: 1px solid #19BD9A;
}

.testimonials-slider__control:hover,
.testimonials-slider__control:focus {
  background: #19BD9A;
}

.testimonials-slider__active_control {
  background-color: #19BD9A;
}

.testimonial {
  width: 100%;
  padding: 0 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.testimonial__photo {
  height: 100%;
}

.testimonial__content {
  margin: 0.5rem 0 0 1.875rem;
}

.testimonial-author {
  margin-top: 1.875rem;
}

.testimonial__author-rank {
  font-weight: 400;
  font-size: 0.875rem;
  color: #464646;
}

.testimonial__author-name,
.testimonial__author-rank {
  text-transform: uppercase;
}

.blog {
  width: 100%;
  position: relative;
  padding: 5rem 6.25rem 0 6.25rem;
  background: url("../img/backgrounds/blog-bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.blog-content {
  max-width: 72.5rem;
  margin: 0 auto;
  position: relative;
}

.blog__title {
  color: #fff;
}

.blog__subtitle {
  max-width: 40%;
  color: #B2B3B3;
}

.blog-post__name {
  color: #E1E4E9;
  font: 1.25rem "Source Sans Pro", sans-serif;
}

.blog-post__author {
  margin-top: 1rem;
  font: 0.875rem "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #19BD9A;
  text-transform: uppercase;
}

.blog-post__author::before {
  content: "By";
  margin-right: 0.25rem;
  font-style: italic;
  color: #81868E;
}

.blog-post__stats {
  margin-top: 0.625rem;
  font: 0.875rem "Source Sans Pro", sans-serif;
  color: #464646;
}

.blog-post__text {
  margin-top: 3.75rem;
  font-size: 0.875rem;
  color: #81868E;
}

.blog-post__read-more {
  margin-top: 3.625rem;
}

.blog-post__read-more-link-btn {
  color: #B2B3B3;
}

.blog-slider__viewport {
  max-height: 33.75rem;
}

.blog-slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blog-slider__slide {
  padding: 6.25rem 0 6.25rem 4.375rem;
  max-width: 60%;
}

.blog-slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 6.25rem;
  top: 0;
  bottom: 0;
}

.blog-slider__control {
  margin: 0.3125rem 0;
  background-color: transparent;
  border: 1px solid #AAABAB;
}

.blog-slider__control:hover,
.blog-slider__control:focus {
  background-color: #AAABAB;
}

.blog-slider__active_control {
  background-color: #AAABAB;
}

.price {
  padding: 5rem 0 6.25rem 0;
  background-color: #F3F3F3;
}

.price-rates {
  width: 60%;
  max-width: 73.125rem;
  margin: 4rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.price-rates__card {
  width: 14.375rem;
  height: 18.75rem;
  position: relative;
}

.rate-card {
  -webkit-perspective: 62.5rem;
  perspective: 62.5rem;
}

.rate-card__front,
.rate-card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.rate-card__back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 2.25rem 0 0 2.0625rem;
}

.rate-card:hover .rate-card__front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rate-card:hover .rate-card__back {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.rate-card__name {
  width: 100%;
  padding: 1.625rem 0;
  background-color: #19BD9A;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.rate-card__price {
  width: 100%;
  text-align: center;
  margin-top: 4.0625rem;
  font-size: 2.625rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: #1FBBA6;
}

.rate-card__per {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.rate-card__text {
  font-size: 0.875rem;
}

.rate-card__start-btn {
  width: 100%;
  background-color: #19BD9A;
  color: #fff;
  padding: 1.625rem;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.rate-card__start-btn:hover {
  background-color: #19BD85;
}

.subscribe {
  padding: 5rem 0 6.25rem;
  background: url("../img/backgrounds/subscribe-bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.subscribe-titles__title {
  color: #fff;
}

.subscribe-form {
  width: 100%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.subscribe-form__email-input {
  min-width: 22.375rem;
  padding: 0.875rem 0.875rem 0.875rem 1.375rem;
  font-size: 0.875rem;
  color: #CFD3D4;
  background-color: transparent;
  border: 1px solid #81868E;
}

.subscribe-form__submit-btn {
  margin-left: 0.5625rem;
  padding: 0.875rem 3.125rem;
  background-color: #19BD9A;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #fff;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
}

.subscribe-form__submit-btn:hover {
  background-color: #19CDA3;
}

.contact-us {
  padding-top: 3.75rem;
  background-color: #F3F3F3;
}

.contact-us__contacts {
  margin: 4rem auto 0 auto;
  max-width: 58.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-us__contact {
  text-align: center;
}

.contact-us__contact-form-wrapper {
  margin-top: 6.25rem;
  padding: 5rem 0 8.125rem;
  background-color: #fff;
}

.contact {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.contact__bg-image {
  display: block;
  height: 100%;
}

.contact__info {
  padding: 1.25rem 1.5625rem 1.25rem;
  background-color: #fff;
}

.contact__name {
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0.3125rem;
}

.contact__text {
  line-height: 140%;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.contact__decorations-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__icon {
  position: absolute;
}

.contact-form {
  max-width: 58.75rem;
  margin: 0 auto;
}

.contact-form__data-inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-form__input {
  border: 1px solid #DCE0E3;
  font-size: 0.875rem;
  padding: 0.9375rem 1.1875rem;
  min-width: 17.9375rem;
}

.contact-form__message-area {
  padding: 0.9375rem 1.1875rem;
  margin-top: 1.8125rem;
  width: 100%;
  min-height: 11.875rem;
  border: 1px solid #DCE0E3;
  resize: none;
  font: 0.875rem "Open Sans", sans-serif;
}

.contact-form__submit-btn {
  margin-top: 1.25rem;
  width: 100%;
  background-color: #19BD9A;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 1.25rem 0;
  cursor: pointer;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.contact-form__submit-btn:hover {
  background-color: #19BD85;
}

.map-section {
  height: 39.375rem;
  position: relative;
  overflow: hidden;
}

.map-section__open {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.map-section__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 1rem;
}

.map-section__arrow {
  width: 1.125rem;
}

.map-section__map-container {
  width: 100%;
  height: 100%;
}

.page-footer {
  padding: 5rem 0 5.625rem 0;
  text-align: center;
  background-color: #fff;
}

.page-footer__rights {
  margin-top: 0.625rem;
}

.page-footer__social-icons {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-icons__icon {
  width: 1.875rem;
  height: 1.875rem;
  display: block;
  margin: 0 0.3125rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.social-icons__icon:hover {
  opacity: 0.8;
}

.twitter-icon {
  background-image: url("../img/icons/twitter-icon.svg");
}

.facebook-icon {
  background-image: url("../img/icons/facebook-icon.svg");
}

.linkedin-icon {
  background-image: url("../img/icons/linkedin-icon.svg");
}

.instagram-icon {
  background-image: url("../img/icons/instagram-icon.svg");
}

.vimeo-icon {
  background-image: url("../img/icons/vimeo-icon.svg");
}

.input_error {
  border-color: #F66161;
  color: #D56161;
}

.input_error::-webkit-input-placeholder {
  color: #F78383;
}

@media screen and (min-width: 100rem) {
  html,
  body {
    font-size: 110%;
  }
}

@media screen and (max-width: 85.375rem) {
  .map-section {
    height: 26.875rem;
  }
}

@media screen and (max-width: 78.125rem) {
  .blog-slider__controls {
    right: 0;
  }
}

@media screen and (max-width: 71.875rem) {
  .section_subtitle {
    max-width: 50%;
  }

  .header__nav {
    width: 60%;
  }

  .featured-submit__content {
    width: 85%;
  }

  .services {
    padding-bottom: 12.5rem;
  }

  .services-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
  }

  .services-content__tabs {
    width: 70%;
  }

  .services-content__skills {
    width: 50%;
    padding-top: 1.25rem;
  }

  .services-content__skills {
    width: 55%;
  }

  .portfolio-menu {
    width: 55%;
  }

  .portfolio-works {
    padding: 0 0.625rem;
  }

  .price-rates {
    width: 80%;
  }
}

@media screen and (max-width: 67.5rem) {
  .member-info__name-wrapper::after {
    right: -1rem;
  }
}

@media screen and (max-width: 65.625rem) {
  .team-quotes-content {
    width: 75%;
  }

  .team-quotes-decoration {
    display: none;
  }

  .column-four {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 62.5rem) {
  .member-chart__info {
    min-width: 0;
  }
}

@media screen and (max-width: 62rem) {
  .about-us-content-wrapper {
    width: 70%;
  }

  .about-us-decoration__picture {
    width: 80%;
  }

  .featured-submit__content {
    width: 90%;
  }

  .services {
    padding-bottom: 7.5rem;
  }

  .portfolio-menu {
    width: 65%;
  }

  .price-rates {
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .price-rates__card {
    margin: 1.25rem;
  }

  .contact-us__contacts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contact-us__contact {
    margin: 1.25rem;
  }

  .contact-us__contact-form-wrapper {
    padding: 5rem 0.9375rem 8.125rem;
  }

  .contact-form__data-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form__input {
    width: 100%;
    margin-top: 0.625rem;
  }
}

@media screen and (max-width: 61.375rem) {
  .blog-slider__slide {
    max-width: 80%;
  }
}

@media screen and (max-width: 58.875rem) {
  .featured-submit__content {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .featured-submit__submit-btn-wrapper {
    margin-top: 0.9375rem;
  }
}

@media screen and (max-width: 53.875rem) {
  .blog-slider__slide {
    padding: 4.6875rem 0 4.6875rem 2.8125rem;
  }
}

@media screen and (max-width: 52.875rem) {
  .portfolio-works {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .portfolio-works__column {
    margin: 0 0.625rem;
  }

  .column-three {
    display: none;
  }

  .column-four {
    display: none;
  }
}

@media screen and (max-width: 48rem) {
  html,
  body {
    font-size: 95%;
  }

  .section_subtitle {
    max-width: 80%;
  }

  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1.875rem;
  }

  .header__nav {
    margin-top: 0.9375rem;
    width: 90%;
  }

  .about-us-content-wrapper {
    width: 75%;
  }

  .about-us-decoration__picture {
    width: 70%;
  }

  .services-content__skills {
    width: 75%;
  }
}

@media screen and (max-width: 46.125rem) {
  .featured-projects {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-preview {
    width: 100%;
  }

  .small-preview {
    width: 50%;
  }
}

@media screen and (max-width: 41.25rem) {
  .portfolio-menu {
    width: 90%;
  }
}

@media screen and (max-width: 39rem) {
  .about-us-content {
    width: 100%;
  }

  .about-us-decoration__picture {
    display: none;
  }
}

@media screen and (max-width: 38.75rem) {
  .services-content__skills {
    width: 95%;
  }

  .blog-slider__slide {
    max-width: 90%;
    padding: 3.125rem 0 3.125rem 1.25rem;
  }
}

@media screen and (max-width: 37.75rem) {
  .blog-slider__controls {
    right: -1.875rem;
  }
}

@media screen and (max-width: 35.75rem) {
  .blog {
    padding: 3.75rem 4.6875rem 0 4.6875rem;
  }

  .blog-slider__slide {
    min-width: 96%;
  }
}

@media screen and (max-width: 34.625rem) {
  .member-info {
    max-width: 40%;
  }
}

@media screen and (max-width: 33.75rem) {
  .header-content {
    top: 40%;
  }

  .team-member__photo {
    width: 50%;
  }
}

@media screen and (max-width: 33rem) {
  .team-slider__slide-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .team-member__photo {
    height: 50%;
  }
}

@media screen and (max-width: 33.5rem) {
  .nav-items__item {
    margin: 0 0.3125rem;
  }

  .nav-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 33.875rem) {
  .team-quotes-content {
    width: 100%;
  }
}

@media screen and (max-width: 32.875rem) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .subscribe-form__submit-btn {
    margin-top: 1.25rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 32rem) {
  .testimonial {
    padding: 0 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .testimonial__content {
    margin-top: 1.5625rem;
  }
}

@media screen and (max-width: 31.75rem) {
  .blog-post__read-more {
    margin-top: 1.75rem;
  }
}

@media screen and (max-width: 31rem) {
  .member-info {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 30.25rem) {
  .portfolio-menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .portfolio-menu__item {
    margin: 0 0.625rem;
  }
}

@media screen and (max-width: 29.5rem) {
  .section_subtitle {
    max-width: 90%;
  }

  .services-content__tabs {
    width: 85%;
  }

  .services-content__skills {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .services-content__skill {
    margin: 0.875rem;
  }

  .blog {
    padding: 3.125rem 4.0625rem 0 4.0625rem;
  }
}

@media screen and (max-width: 28.375rem) {
  .member-info {
    max-width: 45%;
  }
}

@media screen and (max-width: 27.8125rem) {
  .team-slider__slide-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .member-info {
    max-width: 85%;
  }
}

@media screen and (max-width: 26.875rem) {
  .about-details-texts {
    width: 80%;
  }
}

@media screen and (max-width: 25rem) {
  .blog-post__text {
    margin-top: 0.9375rem;
  }
}

@media screen and (max-width: 25.125rem) {
  .team-quotes {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 23.25rem) {
  .blog-slider__slide {
    padding: 1.875rem 0 2.5rem 0.625rem;
  }
}

@media screen and (max-width: 23.75rem) {
  .subscribe-form__email-input {
    min-width: 18.75rem;
  }
}

@media screen and (max-width: 22.375rem) {
  .blog {
    padding: 1.875rem 4.0625rem 0 2.5rem;
  }
}

@media screen and (max-width: 21.875rem) {
  .services-content__tabs {
    width: 95%;
  }
}

@media screen and (max-width: 21.375rem) {
  .header-content {
    top: 45%;
  }
}