@charset "UTF-8";

.left-section,
.page-wrapper .posts-container {
  -ms-overflow-style: none;
}

.left-section::-webkit-scrollbar,
.page-wrapper .posts-container::-webkit-scrollbar {
  display: none;
}

.filter-options-list {
  list-style: none;
}

.left-section,
.page-wrapper .posts-container {
  -ms-overflow-style: none;
}

.left-section::-webkit-scrollbar,
.page-wrapper .posts-container::-webkit-scrollbar {
  display: none;
}

.filter-options-list {
  list-style: none;
}

/* Скрытия скроллбара в боковом меню */

/* Стилизация бокового меню и логотипа в этом меню */

.left-section {
  width: 16.66667%;
  height: 100vh;
  overflow-y: auto;
  background-color: #242B2E;
  color: #fff;
  -webkit-box-shadow: 0 0 4rem #000;
  box-shadow: 0 0 4rem #000;
  min-width: 300px;
  z-index: 500;
}

.left-section .logo {
  display: inline-block;
  margin: 2em 0;
}

.left-section .logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Стилизация ссылок бокового меню */

.left-section-menu .btns-list .menu-btn {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  padding: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333B3F), to(#2E363A));
  background-image: -webkit-linear-gradient(top, #333B3F, #2E363A);
  background-image: -o-linear-gradient(top, #333B3F, #2E363A);
  background-image: linear-gradient(180deg, #333B3F, #2E363A);
  border-bottom: 2px solid #293034;
}

.left-section-menu .btns-list .menu-btn:hover,
.left-section-menu .btns-list .current__menu-btn,
.left-section-menu .btns-list .mobile-btns-list .current__menu-btn,
.mobile-btns-list .left-section-menu .btns-list .current__menu-btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#31BCBA), to(#179E9C));
  background-image: -webkit-linear-gradient(top, #31BCBA, #179E9C);
  background-image: -o-linear-gradient(top, #31BCBA, #179E9C);
  background-image: linear-gradient(180deg, #31BCBA, #179E9C);
}

/* Стилизация контейнера с фильтрами и заголовка */

.filter-container {
  border-bottom: 2px solid #1e282b;
  padding: 0 0 1em 0;
}

.filter-container .filter-title-wrapper {
  color: #1ab5b3;
  padding: 1.5em 1.5em .5em 0;
  text-align: right;
  font-size: 1.1875em;
  font-weight: 100;
}

/* Стилизация списка и кнопок фильтров публикаций */

.filter-options-list .filter-option {
  padding: .25rem 1.5rem;
  text-align: right;
}

.filter-options-list .filter-option .filter-btn {
  background: transparent;
  font-size: .8125rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.filter-options-list .filter-option .filter-btn:hover {
  color: #fff;
}

/* Стилизация иконки заголовка контейнера фильтров */

.filter-title-wrapper .plates-icon {
  margin-left: .75em;
  cursor: pointer;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.filter-title-wrapper .plates-icon:hover {
  color: #37d2d0;
}

/* Стилизация иконок социальных сетей */

.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.8125em;
}

.social-icons .social-icon {
  margin-left: 0.625em;
}

.social-icons .flickr-icon {
  content: url("../../IMG/Menu/flickr-icon.png");
}

.social-icons .googleplus-icon {
  content: url("../../IMG/Menu/googleplus-icon.png");
}

.social-icons .twitter-icon {
  content: url("../../IMG/Menu/twitter-icon.png");
}

.social-icons .pinterest-icon {
  content: url("../../IMG/Menu/pinterest-icon.png");
}

.social-icons .dribbble-icon {
  content: url("../../IMG/Menu/dribbble-icon.png");
}

.social-icons .behance-icon {
  content: url("../../IMG/Menu/behance-icon.png");
}

.social-icons .facebook-icon {
  content: url("../../IMG/Menu/facebook-icon.png");
}

/* Стилизация контейнера авторских прав */

.left-section-menu .copyright-container {
  text-align: right;
  margin: 1.5em 1.5em 0 0;
}

.left-section-menu .copyright-container,
.left-section-menu .copyright-container .copyright-icon {
  font-size: .75rem;
  font-weight: 300;
  color: #6B7072;
}

.left-section,
.page-wrapper .posts-container {
  -ms-overflow-style: none;
}

.left-section::-webkit-scrollbar,
.page-wrapper .posts-container::-webkit-scrollbar {
  display: none;
}

.filter-options-list {
  list-style: none;
}

/* Стилизация контейнера, шапки и самого мобильного меню */

.mobile-menu-container {
  width: 100%;
  display: none;
  position: relative;
  z-index: 100;
  right: 0;
  top: 0;
}

.mobile-menu-container .mobile-menu-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #242B2E;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  overflow: auto;
}

.mobile-menu-container .mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 0 0 1em 0;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
  background-color: #034545;
  overflow: auto;
}

/* Стилизация логотипа в шапке и кнопки открытия мобильного меню */

.mobile-menu-header .logo {
  display: inline-block;
}

.mobile-menu-header .logo-wrapper {
  padding: 2em;
  height: 100%;
  background-color: #fff;
}

.mobile-menu-header .mobile-open-btn {
  background-color: transparent;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2em 3em;
  overflow: hidden;
}

.mobile-menu-header .mobile-open-btn .bars {
  color: #fff;
  font-size: 2.5rem;
}

/* Стилизация иконок соц.сетей в мобильном меню */

.mobile-social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 1.5em;
  padding-right: 1.5em;
}

.mobile-social-icons .social-icon {
  margin: 0 .25em;
  display: inline-block;
}

.mobile-social-icons .flickr-icon {
  content: url("../../IMG/Menu/flickr-icon.png");
}

.mobile-social-icons .googleplus-icon {
  content: url("../../IMG/Menu/googleplus-icon.png");
}

.mobile-social-icons .twitter-icon {
  content: url("../../IMG/Menu/twitter-icon.png");
}

.mobile-social-icons .pinterest-icon {
  content: url("../../IMG/Menu/pinterest-icon.png");
}

.mobile-social-icons .dribbble-icon {
  content: url("../../IMG/Menu/dribbble-icon.png");
}

.mobile-social-icons .behance-icon {
  content: url("../../IMG/Menu/behance-icon.png");
}

.mobile-social-icons .facebook-icon {
  content: url("../../IMG/Menu/facebook-icon.png");
}

/* Стилизация ссылок мобильного меню */

.mobile-btns-list {
  width: 100%;
}

.mobile-btns-list .menu-btn {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  padding: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333B3F), to(#2E363A));
  background-image: -webkit-linear-gradient(top, #333B3F, #2E363A);
  background-image: -o-linear-gradient(top, #333B3F, #2E363A);
  background-image: linear-gradient(180deg, #333B3F, #2E363A);
  border-bottom: 2px solid #293034;
}

.mobile-btns-list .menu-btn:hover,
.mobile-btns-list .left-section-menu .btns-list .current__menu-btn,
.left-section-menu .btns-list .mobile-btns-list .current__menu-btn,
.mobile-btns-list .current__menu-btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#31BCBA), to(#179E9C));
  background-image: -webkit-linear-gradient(top, #31BCBA, #179E9C);
  background-image: -o-linear-gradient(top, #31BCBA, #179E9C);
  background-image: linear-gradient(180deg, #31BCBA, #179E9C);
}

@font-face {
  font-family: 'Roboto';
  src: local("../../fonts/Roboto/Roboto Thin"), local("../../fonts/Roboto/Roboto-Thin"), url("../../fonts/Roboto/Robotothin.woff2") format("woff2"), url("../../fonts/Roboto/Robotothin.woff") format("woff"), url("../../fonts/Roboto/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("../../fonts/Roboto/Roboto Light"), local("../../fonts/Roboto/Roboto-Light"), url("../../fonts/Roboto/Robotolight.woff2") format("woff2"), url("../../fonts/Roboto/Robotolight.woff") format("woff"), url("../../fonts/Roboto/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  background-color: #029D9B;
  font-size: 16px;
  font-family: "Roboto", "Times New Roman", sans-serif;
}

/* Стилизация обёртки страницы, контейнера с контактами(и кнопкой вывода контактов) и списка публикаций */

.page-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 2560px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.page-wrapper .contact-info-container {
  z-index: 1000;
}

.page-wrapper .posts-container {
  width: 83.33333%;
  height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Стилизация публикаций на главной странице */

.posts-container .post {
  width: 25%;
  height: 28.57143%;
  min-height: 250px;
  max-height: 300px;
  font-size: 2rem;
  margin: 0;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.posts-container .post .post-preview-cover {
  background-color: rgba(44, 184, 182, 0.75);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 50;
  -webkit-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s;
}

.posts-container .post .post-preview-cover:hover {
  opacity: 1;
}

.posts-container .post_light_preview {
  background: url(../../IMG/Homepage/light-gray-bg.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.posts-container .post_dark_preview {
  background: url(../../IMG/Homepage/dark-gray-bg.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Стилизация обложки публикации */

.post-preview-cover:hover .cover-arrow-container {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.post-preview-cover .cover-post-name {
  font-size: 1.5rem;
  margin-top: 2.5em;
}

.post-preview-cover .cover-post-category {
  font-size: .75rem;
  display: inline-block;
  padding: .3em 0 .5em 0;
  border-bottom: 1px solid #fff;
}

.post-preview-cover .cover-arrow-container {
  padding: 1.125em;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.8, 0.8, 1.3);
  transition: -webkit-transform 0.5s cubic-bezier(0, 0.8, 0.8, 1.3);
  -o-transition: transform 0.5s cubic-bezier(0, 0.8, 0.8, 1.3);
  transition: transform 0.5s cubic-bezier(0, 0.8, 0.8, 1.3);
  transition: transform 0.5s cubic-bezier(0, 0.8, 0.8, 1.3), -webkit-transform 0.5s cubic-bezier(0, 0.8, 0.8, 1.3);
}

.post-preview-cover .cover-arrow-container .arrow-icon {
  font-size: 3.75rem;
}

/* Стилизация иконки в кнопке вывода контактов */

.contact-icon {
  width: 5.625em;
  height: 5.625em;
  background: #28B4B2;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

.contact-icon .contact-icon-circle {
  width: 3.75em;
  height: 3.75em;
  border: 1px solid #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-icon .contact-icon-circle .info-icon {
  font-size: 1.75rem;
  color: #fff;
}

/* Стилизация контейнера с контактами */

.page-wrapper .contact-info-container .info {
  width: 17.6875em;
  height: 8.125em;
  position: absolute;
  right: 0;
  top: 5.625em;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.25rem 0 1.25rem 1.25rem;
}

.page-wrapper .contact-info-container .visible_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Выравнивание иконки и контактов */

.info .contact-address .address-text {
  position: relative;
  left: -0.15625em;
}

.info .contact-email .email-text {
  position: relative;
  top: -0.125em;
}

.info .contact .phone-icon,
.info .contact .mail-icon,
.info .contact .home-icon {
  margin: 0 1rem 0 0;
  font-size: 1.25rem;
}

@media screen and (min-width: 1921px) {
  .posts-container .post {
    width: 20%;
  }
}

@media screen and (max-width: 1600px) {
  .social-icons {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .left-section-menu .copyright-container {
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 1280px) {
  .left-section {
    min-width: 250px;
  }

  .posts-container .post {
    width: 33.33333%;
  }
}

@media screen and (max-width: 992px) {
  html,
  body {
    font-size: 14px;
  }

  .posts-container .post {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .left-section {
    display: none;
  }

  .mobile-menu-container {
    display: inline-block;
  }

  .page-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .page-wrapper .contact-info-container {
    display: none;
  }

  .page-wrapper .posts-container {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .mobile-menu-header .logo-wrapper {
    padding: 1.5em;
  }

  .mobile-menu-header .mobile-open-btn {
    padding: 1em 1.5em;
  }

  .posts-container .post {
    width: 100%;
  }
}